.meal {
  height: 100%;
  width: 100%;
}

.meal__info {
  display: flex;
}

.meal__left {
  flex: 0.3;
  margin: 10px;
}
.fav__startt{
  height:30%;
  width:60%;
}

.meal__left > img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.meal__left > p {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}

.meal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 5px;
  width: 100px;
  color: white;
  background: #a05656;
}

.meal__button > p {
  margin-right: 5px;
}

.meal__ingredients > h1 {
  font-weight: 700;
  font-size: 26px;
  margin-top: 15px;
}

.meal__ingredient {
  list-style: none;
  text-align: left;
  margin-left: 20px;
  margin-top: 5%;
}

.meal__ingredient::before {
  content: '\2022';
  color: #f9b639;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.meal__right {
  flex: 0.7;
  margin: 10px;
}

.meal__right > h1 {
  font-weight: 700;
  font-size: 26px;
}

.meal__right > p {
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.meal__right > button {
  background-color: #a05656;
  color: white;
  font-size: 13px;
  font-weight: bold;
  padding: 10px 15px;
}

@media screen and (max-width: 970px) {
  .meal__left {
    flex: 0.4;
  }

  .meal__right {
    flex: 0.6;
  }
}

@media screen and (max-width: 850px) {
  .meal__info {
    flex-direction: column;
  }

  .meal__left {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
