.meal {
  padding: 10px;
}

.meal__info {
  display: flex;
}

.meal__left {
  flex: 0.3;
  margin: 10px;
}

.meal__left > img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.meal__left > p {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 20px;
}

.meal__ingredients > h1 {
  font-weight: 700;
  font-size: 26px;  
  margin-top: 15px;

}

.meal__ingredient {
list-style: none;
text-align: left;
margin-left: 20px;
margin-top: 5%;
}

.meal__ingredient::before {
  content: '\2022';
  color: #f9b639;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.meal__right {
  flex: 0.7;
  margin: 10px;
}

.meal__right > h1 {
  font-weight: 700;
  font-size: 26px;
}

.meal__right > p {
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.meal__right > button {
  background-color: #A05656;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 15px;
}

.icons{
  display: flex;
  margin-left: 1%;
  padding: 10px;
  width: 25%;
  color: white;
  background-color: rgb(208, 82, 82);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 3%;

}
.icon{
  margin-left: 10px;
  margin-top: 6px;
  /* width: 66%; */
  
}
.meal__right > a {
  background-color: #A05656;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 20px;
    /*Directions margin-top: 20px; */
    /* margin-top: 20%; */
}
/* .span{
  margin-top: 50%;
} */