.categories {
  padding: 10px;
  border-bottom: none;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.categories__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pantry__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}

.pantry__item:hover {
  scale: 1.03;
  cursor: pointer;
}

.pantry__item > .pantry__delete {
  display: none;
  transition: all 0.5s ease;
}

.pantry__item:hover > .pantry__delete {
  display: block;  
  cursor: pointer;
}

.pantry__text > h3 {
  font-weight: 700;
}

.pantry__text > h5 {
  color: gray;
}

.categories__title > h2 {
  font-size: 22px;
  font-weight: 700;
}

.categories__title > p {
  font-size: 16px;
}

.categories__detail {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}

.categories__detail:hover {
  scale: 1.03;
  cursor: pointer;
}

.categories__detail > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.categories__detail > p {
  font-weight: bold;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.categories__detail:hover > p {
  color: #a05656;
}

@media screen and (max-width: 950px) {
  .categories__detail {
    margin-bottom: 20px;
  }
}
