.home {
  height: 100%;
  width: 100%;
}

.home__container {
  display: flex;
}

.home__categories {
  flex: 0.7;
  height: calc(100vh - 200px);
  overflow-y: scroll;
}

.home__ingredients {
  flex: 0.3;
}

.home__recipes-mobile {
  display: none;
}

@media screen and (max-width: 1080px) {
  .home__categories {
    flex: 0.6;
  }

  .home__ingredients {
    flex: 0.4;
  }
}

@media screen and (max-width: 950px) {
  .home__container {
    flex-direction: column;
  }

  .home__recipes {
    display: none;
  }

  .home__recipes-mobile {
    display: block;
  }
}
