.recipe {
    width: 100%;
    padding: 10px;
  }
.recipe__main {
    width: 500px;
    height:150px;
    padding:10px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
  }
.recipe__main > img {
    width: 250px;
    height: 100%;
    object-fit: cover;
  }
  .recipe__start{
    display: flex;
    margin-top: -12%;
    padding-bottom: 15%;
  }
  .recipe__start h2{
    display: flex;
    color: #ed4025;
    margin-top: -5%;

  }
.recipe__main > div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.recipe__main > div > h1 {
    font-weight: 700;
    font-size: 22px;
  }
  .recipe__main > div > p {
    width: 300px;
  }
.recipe__button {
    background-color: #A05656;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
  }
.recipes__title {
    text-align: left;
  }



