.header {
  width: 100%;
  height: 200px;
  padding: 30px;
  background-color: #f9b639;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header__logo {
  width: 150px;
  object-fit: contain;
  margin-top: 1%;
}

.header__search {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 5px;
  background-color: white;
  width: 50%;
  margin-top: 30px;
  justify-items: center;
}

.header__icon {
  color: gray;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

.header__input {
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
}

.header__button {
  background-color: #920809;
  color: white;
  padding: 3px 20px;
  border-radius: 25px;
}
