* {
    font-size: 20px;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  .main-container span {
      font-size: 15px;
      color: rgb(185, 185, 185);
      margin-left: 40px;
  }
  .main-container h1{
   margin-right: 100px;
  }
  .back b{
    color: rgb(7, 7, 7);
    margin-right: 70px;
  }
  .item-list h1{
    text-align: left;
  }
  .trash{
    
    padding-left: 200px;

  }
  
  .app-background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .main-container {
    background-color: #ffffff;
    width: 500px;
    height: min-content;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
  }
  
  .title {
    text-align: center;
  }
  
  .add-item-box {
    background: #e3e3e3;
    color: #000000;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
  }
  .add-item-input::placeholder{

    font-size: 14px;
  }
  
  .add-item-box svg {
    margin: 5px;
  }
  
  .add-item-input {
    box-sizing: border-box;
    border: none;
    background: transparent;
    /* color: #ec645b; */
    width: 100%;
    height: 30px;
  }
  
  input:focus {
    outline: 0;
  }
  
  .item-list {
    display: flex;
    flex-direction: column;
  }
  
  .item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    border-bottom: 1px #fbdc86 solid;
  }
  
  .item-name {
    cursor: pointer;
  }
  
  .item-name svg {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .item-action-buttons {
    /* width: 30%; */
    display: flex;
    justify-content: space-between;
  }

  
  .quantity {
    display: flex;
    align-items: center;
    border: 1px solid #ec645b;
    background: white;
    border-radius: 50px;
    font-size: 12px;
    color: #ec645b;
    min-width: 70px;
    justify-content: space-between;
  }
  
  button {
    background: transparent;
    border: none;
    margin: 3px;
    color: #ec645b;
  }
  button:focus {
    outline: 0;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .completed {
    text-decoration: line-through;
  }
  .btn button{
    color: white;
    background-color: #a05656;
  }
  