/* .home__top{
    display: flex; */
    /* justify-content: space-between; */
    /* margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.home__top > h4{
    font-size: 18px;
    margin-left: 25%;
    font-weight: 450;
}
.home__top > h2{
    
    margin-left: 2%;
} */
/* .card1{
    display: flex;
    margin-left: 24px;
}
.card2{
    margin-top: 2%;
    display: flex;
    margin-left: 24px;
}
.vege{
    box-shadow: inset;
    font-size: 13px;
    box-shadow: 0px 2px 6px;
    height: 2%;
    width: 12%;
    margin-left: 1%;
    line-height: 20%;
}
/* .span{
    color: rgb(206, 36, 36);
    
} */
/* .meat{
    box-shadow: inset;
    font-size: 13px;
    box-shadow: 0px 4px 10px;
    height: 2%;
    width: 12%;
    margin-left: 1%;
    line-height: 20%;
}

.fish{
    box-shadow: inset;
    font-size: 13px;
    box-shadow: 0px 4px 10px;
    height: 2%;
    width: 12%;
    margin-left: 1%;
    line-height: 20%;
}
.baking{
    box-shadow: inset;
    font-size: 13px;
    box-shadow: 0px 4px 10px;
    height: 2%;
    width: 12%;
    margin-left: 1%;
    line-height: 20%;
}  */

.home{
    /* display: flex; */
    flex-direction: row;
}
.home__right{
    display: flex;
    flex-direction: column;
    width: 70%;
    /*border: 2px solid blue;*/
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    box-shadow: 0px 0px 4px;
    border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.home__top{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /*border: 2px solid red;*/
      /*box-shadow: 0px 0px 4px;*/
      width: 100%;
      margin-left: 10px;
}
.home__top > h4{
    font-size: 15px;
    margin-right: 20px;
}

.home__left{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid red;
    height: 80%;
    width: 30%;
}
.home__bodyInformation1{
    display: flex;
    flex-direction: row;
}

.home__info{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #88888888;
    width: 30%;
    box-shadow: 0px 0px 4px;
}
.img{
 width: 40px;
 height: 40px;
 object-fit: contain;
 margin-left: 10px;
}
.aside__text{
    margin-left: 10px;
}
.aside__text > h5{
    font-size: small;
    color: #88888888;
}
.aside__text .veg{
    color: red;
}

.home__bodyInformation2{
    display: flex;
    flex-direction: row;
}

.suggest{
    font-size: 20;
    margin-left: 20px;
}
.home__bodyInformation3{
    display: flex;
    flex-direction: row;
}

.home__info3{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
   /* border: 1px solid #88888888;*/
    width: 30%;
   /* box-shadow: 0px 0px 4px;*/
}
.img3{
   width: 230px;
   object-fit: contain;
   margin-left: 20px;
   box-shadow: 0px 0px 4px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.aside__text3{
    margin-left: 20px;
    /*margin-right: 10px;*/
    border-bottom: 2px solid #88888888;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}