body{
   
    background: #bdc3c7; 
    background: -webkit-linear-gradient(to right, #d9dde1, #bdc3c7); 
    background: linear-gradient(to right, #e6e8ea, #bdc3c7); 
}

.form{
    background-color: white;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.form__input{
box-sizing: border-box;
text-align: center;
width: 350px;
height: 40px;
border: 1px solid #000000;
border-radius: 61px

}


.form-body{
    /* text-align: center; */
    padding: 20px 10px;

}

.form-body > *{
    padding: 10px;
}
.form__input{
    text-align: center;
    outline: none;
    border: none;
}
.footer{
    text-align: center;
}
.footer button{
    color: rgb(255, 255, 255);
    width: 350px;
    height: 40px;
    border: none;
    background: #09C75C;
    border-radius: 61px;
    margin-top: 20px;
}
.footer p{
    margin-top: 15px;
}

.signup{
    margin-top: 20px;
}
.signup span{
    color: rgb(0, 132, 255);
    cursor: pointer;
}

.check{
    margin-top: -18px;
    color: #0f0f0e;
    /* margin-left: -10%; */
 }  
 .forgetpswd{
color: #C62323;
margin-left: 50px;
 } 
