.categories {
  padding: 10px;
  border: 1px solid black;    
  border-bottom: none;
}

.categories__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__title > h2 {
  font-size: 22px;
  font-weight: 700;
}

.categories__title > p {
  font-size: 16px;
}

.categories__detail {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}

.categories__detail:hover {
  scale: 1.03;
  cursor: pointer;
}

.categories__detail > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.categories__detail > p {
  font-weight: bold;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.categories__detail:hover > p {
  color: #ee573e;
}
