.categories {
  padding: 10px;
  border: 1px solid black;    
  border-bottom: none;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.categories__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__title > h2 {
  font-size: 22px;
  font-weight: 700;
}

.categories__title > p {
  font-size: 16px;
}

.categories__detail {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease;
}

.categories__detail:hover {
  scale: 1.03;
  cursor: pointer;
}

.categories__detail > img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.categories__detail > p {
  font-weight: bold;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.categories__detail:hover > p {
  color: #A05656;
}

/* //pantry */
.home__top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-left: 10px; */
}
.home__bodyInformation1 {
  display: flex;
}
.home__info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  width: 12rem;
  height: 5rem;
  border: 1px solid #88888888;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.aside__text {
  margin-left: 5px;
}
.aside__text > h5 {
  font-size: small;
  color: #88888888;
}
.aside__text .veg {
  color: 920809;
}
.home__bodyInformation2 {
  display: flex;
}
